
Data Description:
RI : refractive index
Na: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)
Mg: Magnesium
AI: Aluminum
Si: Silicon
K:Potassium
Ca: Calcium
Ba: Barium
Fe: Iron
Type: Type of glass: (class attribute)
 1 -- building_windows_float_processed
 2 --building_windows_non_float_processed
 3 --vehicle_windows_float_processed
 4 --vehicle_windows_non_float_processed (none in this database)
 5 --containers
 6 --tableware
 7 --headlamps
 Prepare model by using Decision Tree, Random Forest , AdaBoost, CatBoost ,XGBoost & Calculate Accuracy by confusion matrix, Calculate accuracy score, precision score, recall score, f1 score.

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings(action="ignore")

In [5]:
df=pd.read_csv("glass.csv")
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [6]:
df.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [8]:
df['Type'].value_counts()

Type
2    76
1    70
7    29
3    17
5    13
6     9
Name: count, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
df['Type'] = LabelEncoder().fit_transform(df['Type'])

In [10]:
df.corr()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
RI,1.000000,-0.191885,-0.122274,-0.407326,-0.542052,-0.289833,0.810403,-0.000386,0.143010,-0.168739
Na,-0.191885,1.000000,-0.273732,0.156794,-0.069809,-0.266087,-0.275442,0.326603,-0.241346,0.506424
Mg,-0.122274,-0.273732,1.000000,-0.481799,-0.165927,0.005396,-0.443750,-0.492262,0.083060,-0.728160
Al,-0.407326,0.156794,-0.481799,1.000000,-0.005524,0.325958,-0.259592,0.479404,-0.074402,0.591198
Si,-0.542052,-0.069809,-0.165927,-0.005524,1.000000,-0.193331,-0.208732,-0.102151,-0.094201,0.149691
K,-0.289833,-0.266087,0.005396,0.325958,-0.193331,1.000000,-0.317836,-0.042618,-0.007719,-0.025835
Ca,0.810403,-0.275442,-0.443750,-0.259592,-0.208732,-0.317836,1.000000,-0.112841,0.124968,-0.008998
Ba,-0.000386,0.326603,-0.492262,0.479404,-0.102151,-0.042618,-0.112841,1.000000,-0.058692,0.577676
Fe,0.143010,-0.241346,0.083060,-0.074402,-0.094201,-0.007719,0.124968,-0.058692,1.000000,-0.183207
Type,-0.168739,0.506424,-0.728160,0.591198,0.149691,-0.025835,-0.008998,0.577676,-0.183207,1.000000

In [11]:
df = df.drop(['Ca', 'Fe', 'K'], axis=1)
df.corr()

            RI        Na        Mg        Al        Si        Ba      Type
RI    1.000000 -0.191885 -0.122274 -0.407326 -0.542052 -0.000386 -0.168739
Na   -0.191885  1.000000 -0.273732  0.156794 -0.069809  0.326603  0.506424
Mg   -0.122274 -0.273732  1.000000 -0.481799 -0.165927 -0.492262 -0.728160
Al   -0.407326  0.156794 -0.481799  1.000000 -0.005524  0.479404  0.591198
Si   -0.542052 -0.069809 -0.165927 -0.005524  1.000000 -0.102151  0.149691
Ba   -0.000386  0.326603 -0.492262  0.479404 -0.102151  1.000000  0.577676
Type -0.168739  0.506424 -0.728160  0.591198  0.149691  0.577676  1.000000

In [12]:
x=df.drop('Type', axis=1)
y=df['Type']

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7, random_state=123456)

Decision Tree, Random Forest , AdaBoost, CatBoost ,XGBoost & Calculate Accuracy by confusion matrix, 
Calculate accuracy score, precision score, recall score, f1 score.

In [14]:
from sklearn.tree import DecisionTreeClassifier

def create_model_decision_tree_classifier():
    model = DecisionTreeClassifier()
    model.fit(x_train,y_train)
    return model

In [15]:
from sklearn.ensemble import RandomForestClassifier

def create_model_random_forest():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [16]:
from sklearn.ensemble import AdaBoostClassifier

def create_model_adaboost():
    model = AdaBoostClassifier()
    model.fit(x_train,y_train)
    return model

In [17]:
from catboost import CatBoostClassifier

def create_model_catboost():
    model = CatBoostClassifier(logging_level='Silent')
    model.fit(x_train,y_train)
    return model

In [18]:
from xgboost import XGBClassifier

def create_model_xgboost():
    model = XGBClassifier()
    model.fit(x_train,y_train)
    return model

In [19]:
from sklearn.ensemble import GradientBoostingClassifier

def create_model_grandient_boost():
    model = GradientBoostingClassifier()
    model.fit(x_train, y_train)
    return model

Accuracy by confusion matrix, 
Calculate accuracy score, precision score, recall score, f1 score.

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

def evaluate_model(model):
    # training accuracry
    y_pred = model.predict(x_train)
    y_true = y_train

    # calculate training accuracy
    training_accuracy = accuracy_score(y_true, y_pred)

    # testing accuracy
    y_pred = model.predict(x_test)
    y_true = y_test

    # get the performance metrics for testing
    
    testing_accuracy = accuracy_score(y_true, y_pred)
    testing_precision = precision_score(y_true, y_pred, average='macro')
    testing_recall = recall_score(y_true, y_pred,average='macro')
    testing_f1 = f1_score(y_true, y_pred,average='macro')
    cm = confusion_matrix(y_true, y_pred)

    return training_accuracy, testing_accuracy, testing_precision, testing_recall, testing_f1, cm

In [21]:
models = [
    ("Decision Tree", create_model_decision_tree_classifier(), (2, 0)),
    ("Random Forest", create_model_random_forest(), (2, 1)),
    ("CAT Boost", create_model_catboost(), (3, 0)),
    ("Ada Boost", create_model_adaboost(), (3, 1)),
    ("Grandient Boost", create_model_grandient_boost(), (4, 0)),
    ("XG Boost", create_model_xgboost(), (4, 1))
]
models

[('Decision Tree', DecisionTreeClassifier(), (2, 0)),
 ('Random Forest', RandomForestClassifier(), (2, 1)),
 ('CAT Boost', <catboost.core.CatBoostClassifier at 0x25ab3e82750>, (3, 0)),
 ('Ada Boost', AdaBoostClassifier(), (3, 1)),
 ('Grandient Boost', GradientBoostingClassifier(), (4, 0)),
 ('XG Boost',
  XGBClassifier(base_score=None, booster=None, callbacks=None,
                colsample_bylevel=None, colsample_bynode=None,
                colsample_bytree=None, device=None, early_stopping_rounds=None,
                enable_categorical=False, eval_metric=None, feature_types=None,
                gamma=None, grow_policy=None, importance_type=None,
                interaction_constraints=None, learning_rate=None, max_bin=None,
                max_cat_threshold=None, max_cat_to_onehot=None,
                max_delta_step=None, max_depth=None, max_leaves=None,
                min_child_weight=None, missing=nan, monotone_constraints=None,
                multi_strategy=None, n_estimators=None, n_jobs=None,
                num_parallel_tree=None, objective='multi:softprob', ...),
  (4, 1))]

In [22]:
performance_data = []
for model_name, model, position in models:
    training_accuracy, test_accuracy, precision, recall, f1, cm = evaluate_model(model)
    performance_data.append([
        model_name,
        f"{training_accuracy * 100:0.2f}%", f"{test_accuracy * 100:0.2f}%",
        precision, 
        recall,        
        f1, 
        cm
    ])
    
performance_chart = pd.DataFrame(performance_data, 
            columns=["Model", "Train Accuracy", "Test Accuracy", "Precision", "Recall", "F1", "cm"])
performance_chart

,Model,Train Accuracy,Test Accuracy,Precision,Recall,F1,cm
0,Decision Tree,100.00%,75.38%,0.693160,0.769616,0.708336,"[[17, 1, 0, 0, 0, 0], [4, 12, 2, 2, 2, 1], [1,..."
1,Random Forest,100.00%,73.85%,0.599181,0.737813,0.639501,"[[18, 0, 0, 0, 0, 0], [4, 14, 0, 3, 2, 0], [3,..."
2,CAT Boost,100.00%,76.92%,0.777412,0.772837,0.698840,"[[18, 0, 0, 0, 0, 0], [3, 15, 0, 3, 2, 0], [2,..."
3,Ada Boost,36.91%,33.85%,0.066667,0.159420,0.094017,"[[0, 18, 0, 0, 0, 0], [0, 22, 0, 0, 0, 1], [0,..."
4,Grandient Boost,100.00%,78.46%,0.831522,0.770165,0.731619,"[[17, 1, 0, 0, 0, 0], [4, 18, 0, 0, 1, 0], [1,..."
5,XG Boost,100.00%,75.38%,0.752355,0.763578,0.733886,"[[17, 0, 1, 0, 0, 0], [4, 15, 0, 3, 0, 1], [1,..."