In this dataset you have to predict that whether we have to give ATTORNEY to the clients or not (0=Yes, 1=No) based on below factors.
CLMAGE - Age of Client
CLMSEX - Sex of client (0=Male, 1= Female)
SEATBELT - Whether client has Seatbelt or not (0=Yes, 1=No)
CLMINSUR - Whether Client give Insurance or not (0=Yes, 1=No)
LOSS - Loss that client faced

Prepare model by using Decision Tree, Random Forest , AdaBoost, CatBoost, XGBoost & Calculate Accuracy by confusion matrix, Calculate accuracy score, precision score, recall score, f1 score.

Dataset : Claimants.csv

In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")

In [4]:
df = pd.read_csv("claimants.csv")
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1328 non-null   float64
 2   CLMINSUR  1299 non-null   float64
 3   SEATBELT  1292 non-null   float64
 4   CLMAGE    1151 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [8]:
df.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [10]:
df['CLMSEX'] = df['CLMSEX'].fillna(df['CLMSEX'].mean())

In [11]:
df['CLMINSUR'] = df['CLMINSUR'].fillna(df['CLMINSUR'].mean())

In [12]:
df['SEATBELT'] = df['SEATBELT'].fillna(df['SEATBELT'].mean())

In [13]:
df['CLMAGE'] = df['CLMAGE'].fillna(df['CLMAGE'].mean())

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1340 non-null   float64
 2   CLMINSUR  1340 non-null   float64
 3   SEATBELT  1340 non-null   float64
 4   CLMAGE    1340 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [15]:
df['ATTORNEY'].value_counts()

ATTORNEY
0    685
1    655
Name: count, dtype: int64

In [16]:
df.corr()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT    CLMAGE      LOSS
ATTORNEY  1.000000  0.079321  0.078221 -0.056158  0.009886 -0.219715
CLMSEX    0.079321  1.000000  0.065382 -0.014778 -0.021428 -0.027602
CLMINSUR  0.078221  0.065382  1.000000  0.020899  0.046255  0.005810
SEATBELT -0.056158 -0.014778  0.020899  1.000000 -0.026234  0.111031
CLMAGE    0.009886 -0.021428  0.046255 -0.026234  1.000000  0.057641
LOSS     -0.219715 -0.027602  0.005810  0.111031  0.057641  1.000000

In [17]:
df.drop(['CLMSEX', 'CLMINSUR'], axis=1, inplace=True)

In [18]:
x=df.drop(['ATTORNEY'], axis=1)
y=df['ATTORNEY']

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, train_size=0.7, random_state=123456)

Decision Tree, Random Forest , AdaBoost, CatBoost, XGBoost &

In [20]:
from sklearn.tree import DecisionTreeClassifier

def create_model_decision_tree_classifier():
    model = DecisionTreeClassifier()
    model.fit(x_train,y_train)
    return model

In [21]:
from sklearn.ensemble import RandomForestClassifier

def create_model_random_forest():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [22]:
from sklearn.ensemble import AdaBoostClassifier

def create_model_adaboost():
    model = AdaBoostClassifier()
    model.fit(x_train,y_train)
    return model

In [23]:
from catboost import CatBoostClassifier

def create_model_catboost():
    model = CatBoostClassifier(logging_level='Silent')
    model.fit(x_train,y_train)
    return model

In [24]:
from xgboost import XGBClassifier

def create_model_xgboost():
    model = XGBClassifier()
    model.fit(x_train,y_train)
    return model

Calculate Accuracy by confusion matrix, Calculate accuracy score, precision score, recall score, f1 score

In [25]:
from sklearn.metrics import confusion_matrix,accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

def evaluate_model(model):
    # training accuracry
    y_pred = model.predict(x_train)
    y_true = y_train

    # calculate training accuracy
    training_accuracy = accuracy_score(y_true, y_pred)

    # testing accuracy
    y_pred = model.predict(x_test)
    y_true = y_test

    # get the performance metrics for testing
    
    testing_accuracy = accuracy_score(y_true, y_pred)
    testing_precision = precision_score(y_true, y_pred, average='macro')
    testing_recall = recall_score(y_true, y_pred,average='macro')
    testing_f1 = f1_score(y_true, y_pred,average='macro')

    return training_accuracy, testing_accuracy, testing_precision, testing_recall, testing_f1

In [26]:
models = [
    ("Decision Tree", create_model_decision_tree_classifier(), (2, 0)),
    ("Random Forest", create_model_random_forest(), (2, 1)),
    ("CAT Boost", create_model_catboost(), (3, 0)),
    ("Ada Boost", create_model_adaboost(), (3, 1)),
    ("XG Boost", create_model_xgboost(), (4, 1))
]
models

[('Decision Tree', DecisionTreeClassifier(), (2, 0)),
 ('Random Forest', RandomForestClassifier(), (2, 1)),
 ('CAT Boost', <catboost.core.CatBoostClassifier at 0x19093c99850>, (3, 0)),
 ('Ada Boost', AdaBoostClassifier(), (3, 1)),
 ('XG Boost',
  XGBClassifier(base_score=None, booster=None, callbacks=None,
                colsample_bylevel=None, colsample_bynode=None,
                colsample_bytree=None, device=None, early_stopping_rounds=None,
                enable_categorical=False, eval_metric=None, feature_types=None,
                gamma=None, grow_policy=None, importance_type=None,
                interaction_constraints=None, learning_rate=None, max_bin=None,
                max_cat_threshold=None, max_cat_to_onehot=None,
                max_delta_step=None, max_depth=None, max_leaves=None,
                min_child_weight=None, missing=nan, monotone_constraints=None,
                multi_strategy=None, n_estimators=None, n_jobs=None,
                num_parallel_tree=None, random_state=None, ...),
  (4, 1))]

In [27]:
performance_data = []
for model_name, model, position in models:
    training_accuracy, test_accuracy, precision, recall, f1 = evaluate_model(model)
    performance_data.append([
        model_name,
        f"{training_accuracy * 100:0.2f}%", f"{test_accuracy * 100:0.2f}%",
        precision, 
        recall,        
        f1
    ])
    
performance_chart = pd.DataFrame(performance_data, 
            columns=["Model", "Train Accuracy", "Test Accuracy", "Precision", "Recall", "F1"])
performance_chart

           Model Train Accuracy Test Accuracy  Precision    Recall        F1
0  Decision Tree         99.15%        63.28%   0.632944  0.633023  0.632734
1  Random Forest         99.15%        66.75%   0.667222  0.666975  0.667033
2      CAT Boost         76.95%        72.21%   0.724907  0.720250  0.719972
3      Ada Boost         75.24%        70.47%   0.707922  0.702664  0.702066
4       XG Boost         89.11%        66.50%   0.664730  0.664559  0.664608