In this dataset you have to predict that whether we have to give ATTORNEY to the clients or not (0=Yes, 1=No) 
based on below factors.
CLMAGE - Age of Client
CLMSEX - Sex of client (0=Male, 1= Female)
SEATBELT - Whether client has Seatbelt or not (0=Yes, 1=No)
CLMINSUR - Whether Client give Insurance or not (0=Yes, 1=No)
LOSS - Loss that client faced

Prepare model by using Naive Bayes,KNN and SVM & Also calculate Accuracy by confusion matrix, 
Calculate accuracy score, precision score, recall score, f1 score.

Dataset : Claimants.csv

## Problem Definition
    - Give attorney to clients or not

### import required packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")

### Load the data

In [2]:
df=pd.read_csv("claimants.csv")
df.head(3)

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330

### EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1328 non-null   float64
 2   CLMINSUR  1299 non-null   float64
 3   SEATBELT  1292 non-null   float64
 4   CLMAGE    1151 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [5]:
df['ATTORNEY'].value_counts()

ATTORNEY
0    685
1    655
Name: count, dtype: int64

In [7]:
df.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [9]:
df['CLMSEX'] = df['CLMSEX'].fillna(df['CLMSEX'].mean())

In [10]:
df['CLMINSUR'] = df['CLMINSUR'].fillna(df['CLMINSUR'].mean())

In [11]:
df['SEATBELT'] = df['SEATBELT'].fillna(df['SEATBELT'].mean())

In [12]:
df['CLMAGE'] = df['CLMAGE'].fillna(df['CLMAGE'].mean())

In [13]:
df.corr()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT    CLMAGE      LOSS
ATTORNEY  1.000000  0.079321  0.078221 -0.056158  0.009886 -0.219715
CLMSEX    0.079321  1.000000  0.065382 -0.014778 -0.021428 -0.027602
CLMINSUR  0.078221  0.065382  1.000000  0.020899  0.046255  0.005810
SEATBELT -0.056158 -0.014778  0.020899  1.000000 -0.026234  0.111031
CLMAGE    0.009886 -0.021428  0.046255 -0.026234  1.000000  0.057641
LOSS     -0.219715 -0.027602  0.005810  0.111031  0.057641  1.000000

In [15]:
df.drop('CLMINSUR',axis=1, inplace=True)

In [16]:
df.head()

   ATTORNEY  CLMSEX  SEATBELT  CLMAGE    LOSS
0         0     0.0       0.0    50.0  34.940
1         1     1.0       0.0    18.0   0.891
2         1     0.0       0.0     5.0   0.330
3         0     0.0       1.0    31.0   0.037
4         1     0.0       0.0    30.0   0.038

#### Spliting the data

In [24]:
# split the data
x=df.drop('ATTORNEY',axis=1)
y=df['ATTORNEY']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,random_state=123456)

### Training the model

#### Naive Bayes

In [25]:
from sklearn.naive_bayes import GaussianNB

def create_naive_bayes_model():
    model = GaussianNB()
    model.fit(x_train,y_train)
    return model

#### KNN

In [26]:
from sklearn.neighbors import KNeighborsClassifier

def create_knn_model():
    model = KNeighborsClassifier()
    model.fit(x_train,y_train)
    return model

#### SVM

In [27]:
from sklearn.svm import SVC

def create_svm_model():
    model=SVC()
    model.fit(x_train,y_train)
    return model

#### Model Evaluation

confusion matrix, `Calculate accuracy score, precision score, recall score, f1 score.

In [28]:
from sklearn.metrics import confusion_matrix, accuracy_score,precision_score,recall_score,f1_score

def evaluate_model(model_name, model):
    y_pred = model.predict(x_test)
    y_true = y_test

    cm = confusion_matrix(y_true,y_pred)
    accuracy = accuracy_score(y_true,y_pred)
    precision = precision_score(y_true,y_pred)
    recall = recall_score(y_true,y_pred)
    f1 = f1_score(y_true,y_pred)

    return model_name,cm,accuracy,precision,recall,f1

In [29]:
models = pd.DataFrame([
    evaluate_model("Naive Bayes", create_naive_bayes_model()),
    evaluate_model("KNN", create_knn_model()),
    evaluate_model("SVM", create_svm_model())
], columns=['Model Name', 'cm', 'accuracy', 'precision', 'recall', 'f1'])

In [30]:
models

,Model Name,cm,accuracy,precision,recall,f1
0,Naive Bayes,"[[16, 191], [3, 193]]",0.518610,0.502604,0.984694,0.665517
1,KNN,"[[127, 80], [63, 133]]",0.645161,0.624413,0.678571,0.650367
2,SVM,"[[121, 86], [46, 150]]",0.672457,0.635593,0.765306,0.694444